<div class="container">
    <h2>Detalles de la Máquina Virtual</h2>

    <div class="details">
        <div class="detail-item">
            <label>Nombre de la VM:</label>
            <span>{{ vm.vmName }}</span>
        </div>
        <div class="detail-item">
            <label>IP:</label>
            <span>{{ vm.ip }}</span>
        </div>
        <div class="detail-item">
            <label>DNS Name:</label>
            <span>{{ vm.dnsName }}</span>
        </div>
        <div class="detail-item">
            <label>Proyecto:</label>
            <span>{{ vm.project }}</span>
        </div>
        <div class="detail-item">
            <label>Entorno:</label>
            <span>{{ vm.environment }}</span>
        </div>
        <div class="detail-item">
            <label>Estado:</label>
            <span>{{ vm.status }}</span>
        </div>
        <div class="detail-item">
            <label>Comentario:</label>
            <span>{{ vm.comment }}</span>
        </div>
        <div class="detail-item">
            <label>Reservado Desde:</label>
            <span>{{ vm.reservedFrom === undefined ? null : vm.reservedFrom | dateFormatter }}</span>
        </div>
        <div class="detail-item">
            <label>Reservado Hasta:</label>
            <span>{{ vm.reservedTo === undefined ? null : vm.reservedTo | dateFormatter }}</span>
        </div>
        <div class="detail-item">
            <label>Sistema Operativo:</label>
            <span>{{ vm.operatingSystem }}</span>
        </div>
        <div class="detail-item">
            <label>Núcleos de CPU:</label>
            <span>{{ vm.cpuCores }}</span>
        </div>
        <div class="detail-item">
            <label>RAM (GB):</label>
            <span>{{ vm.ram }}</span>
        </div>
        <div class="detail-item">
            <label>Disco (GB):</label>
            <span>{{ vm.disk }}</span>
        </div>
        <div class="detail-item">
            <label>Creado en:</label>
            <span>{{ vm.createdAt === undefined ? null : vm.createdAt | dateFormatter }}</span>
        </div>
        <div class="detail-item">
            <label>Actualizado en:</label>
            <span>{{ vm.updatedAt === undefined ? null : vm.updatedAt | dateFormatter }}</span>
        </div>
    </div>

    <div class="actions">
        <button (click)="vm.id !== undefined ? editVm(vm.id) : null">
            Editar
        </button>
        <button (click)="vm.id !== undefined ? deleteVm(vm.id) : null">
            Eliminar
        </button>
    </div>
</div>
