<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Reservar Máquina Virtual</h5>
        </div>
        <div class="modal-body">
            <div class="container">
                <form [formGroup]="vmForm">
                    <div class="form-item mb-3">
                        <label for="username" class="form-label"
                            >Nombre de Usuario</label
                        >
                        <input
                            type="text"
                            id="reservedUserName"
                            formControlName="reservedUserName"
                            class="form-control"
                            required
                        />
                    </div>

                    <div class="form-item mb-3">
                        <label for="reservedTo" class="form-label"
                            >Reservado Hasta</label
                        >
                        <input
                            type="datetime-local"
                            id="reservedTo"
                            formControlName="reservedTo"
                            class="form-control"
                            required
                        />
                    </div>

                    <div class="form-item mb-3">
                        <label for="project" class="form-label"
                            >Proyecto (opcional)</label
                        >
                        <input
                            class="form-control"
                            type="text"
                            id="project"
                            formControlName="project"
                        />
                    </div>

                    <div class="form-item mb-3">
                        <label for="comment" class="form-label"
                            >Comentario (opcional)</label
                        >
                        <textarea
                            id="comment"
                            formControlName="comment"
                            class="form-control"
                        ></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-danger" (click)="onReturnToDetails()">
        Volver
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="!vmForm.valid" (click)="onSubmit()">
        Enviar
    </button>
</div>
