<div class="container mt-5">
    <h2 class="text-center mb-4">
        {{ vmId ? "Editar Máquina Virtual" : "Crear Máquina Virtual" }}
    </h2>

    <form [formGroup]="vmForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
            <label for="vmName">VM Name:</label>
            <input
                class="form-control"
                type="text"
                id="vmName"
                formControlName="vmName"
                required
            />
        </div>
        <div>
            <label for="ip">IP:</label>
            <input
                class="form-control"
                type="text"
                id="ip"
                formControlName="ip"
                required
            />
        </div>
        <div class="form-group mb-3">
            <label for="dnsName">DNS Name:</label>
            <input
                class="form-control"
                type="text"
                id="dnsName"
                formControlName="dnsName"
                required
            />
        </div>
        <div class="form-group mb-3">
            <label for="project">Project:</label>
            <input
                class="form-control"
                type="text"
                id="project"
                formControlName="project"
            />
        </div>
        <div class="form-group mb-3">
            <label for="environment">Environment:</label>
            <textarea
                class="form-control"
                type="text"
                id="environment"
                formControlName="environment"
            ></textarea>
        </div>
        <div class="form-group mb-3">
            <label for="status">Status:</label>
            <select
                class="form-control"
                id="status"
                formControlName="status"
                required
            >
			<option *ngFor="let status of vmStatuses" [value]="status">{{ status }}</option>
			</select>
        </div>
        <div class="form-group mb-3">
            <label for="comment">Comment:</label>
            <textarea
                class="form-control"
                id="comment"
                formControlName="comment"
            ></textarea>
        </div>
        @if (vmId) {
		<div class="form-group mb-3">
			<label for="reservedUserName">Reserved User Name:</label>
			<input
				class="form-control"
				type="text"
				id="reservedUserName"
				formControlName="reservedUserName"
			/>
		</div>
        <div class="form-group mb-3">
            <label for="reservedTo">Reserved To:</label>
            <input
                class="form-control"
                type="text"
                id="reservedTo"
                formControlName="reservedTo"
            />
        </div>
        }
        <div class="form-group mb-3">
            <label for="operatingSystem">Operating System:</label>
            <input
                class="form-control"
                type="text"
                id="operatingSystem"
                formControlName="operatingSystem"
            />
        </div>
        <div class="form-group mb-3">
            <label for="cpuCores">CPU Cores:</label>
            <input
                class="form-control"
                type="number"
                id="cpuCores"
                formControlName="cpuCores"
            />
        </div>
		<div class="form-group mb-3">
			<label for="gpu">GPU:</label>
			<input
				class="form-control"
				type="text"
				id="gpu"
				formControlName="gpu"
			/>
		</div>
        <div class="form-group mb-3">
            <label for="ram">RAM (GB):</label>
            <input
                class="form-control"
                type="number"
                id="ram"
                formControlName="ram"
            />
        </div>
        <div class="form-group mb-3">
            <label for="disk">Disk (GB):</label>
            <input
                class="form-control"
                type="number"
                id="disk"
                formControlName="disk"
            />
        </div>
        <button
            type="submit"
            [disabled]="vmId ? vmForm.pristine : !vmForm.valid"
            class="btn btn-primary"
        >
            {{ vmId ? "Actualizar" : "Crear" }}
        </button>
    </form>
</div>
