<div class="backdrop" (click)="closeDialog()"></div>
<div class="dialog-container">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @if (contentToShow === dialogType.Details) {
            	<app-vm-details [vmId]="vmId" (showEdit)="showEdit()" (showReserve)="showReserve()" (closeDialog)="closeDialog()" />
			}
			@if (contentToShow === dialogType.Edit) {
				<app-vm-edit [vmId]="vmId" />
			}
			@if (contentToShow === dialogType.Reserve) {
				<app-vm-reserve [vmId]="vmId" (returnToDetails)="showDetails()" (closeDialog)="closeDialog()"/>
			}
        </div>
    </div>
</div>
