@import 'styles/_variables.scss';

.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
	color: $secondary-color;
}

.list-group-item {
	background-color: #f9f9f9;
	border: 2px solid #dee2e6;
	margin-bottom: 10px;
	border-radius: 4px;
	&:hover {
		background-color: #ffcc80;
	}

	.badge-disponible {
		background-color: green;
	}

	.badge-instalando {
		background-color: blue;
	}

	.badge-reservada {
		background-color: orange;
	}

	.badge-parada {
		background-color: red;
	}

	.btn-info {
		background-color: $primary-color;
		border-color: $primary-color;

		&:hover {
			background-color: lighten($primary-color, 10%);
			border-color: lighten($primary-color, 10%);
		}
	}
}